.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: calc(45% + 10rem);
}


.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}