.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: calc(100% - 20rem);
}


.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
}